body{
    background:linear-gradient(20deg,#000000,#281C2D,#36243e,#8155BA);
    margin: 0px;
    font-family: sans-serif;
}


/* ------------------------------TODO APP Container ------------------------------ */
.container{
    margin: auto;
    background-color: white;
    margin-top: 80px;
    max-height: 600px;
    min-height: 450px;
    width: 600px;
    padding-bottom: 3px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px #281C2D;
}

/*------------------------------ heading of the container -------------------------- */
h1{
    text-align: center;
    padding: 8px;
    border-bottom: 0.4rem solid #420264;
    color:#420264;
    /* #420264 */
}

/* -------------------------------form container--------------------------------------- */
#form-container{

    font-size: medium;
}

h6{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #36243e;
    height: 20px;
    margin: 3px;
    margin-bottom: 5px;
}

/*----------------------------- Task description --------------------------------------- */
#task-description{
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 2px solid #420264; 
    padding-bottom: 10px;
    height: 45px;
    margin-top: -21px;
}
#task-description:hover{
    background-color: #CFC1CE;
}
input{
    border: none;
    cursor:text;
    background: transparent;
}
input:focus{
    outline: none;
}
#task-description input{
    width: 96%;
   
}

/*--------------------------more specs ------------------------------------ */
#more-specs{
    display: flex;
    border-bottom: 2px solid #420264;
}

#category{
    padding: 5px;
    padding-left: 10px;
    width: 48%;
    border-right: 2px solid #420264;
}
#category:hover{
    background-color: #CFC1CE;
}

#task-category{
    
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    color: rgb(109, 108, 108);
    padding: 5px;
    width: 60%;
    background: transparent;
}
#task-category:focus{
    outline: none;
}

#due-date{
    padding: 5px;
    padding-left: 10px;
    width: 47%;
}
#due-date:hover{
    background-color:#CFC1CE;
}
#due-date input{
    padding: 5px;
    padding-left: 0px;
    color: gray;
}
/*---------------------------------- +ADD TASK  Button-----------------------------------------*/
button{
    border: none;
    background:transparent;
    height: 50px;
    width: 150px;
    font-size: 1rem;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 4px;
    
}
button:hover{
    box-shadow:  0px 4px 8px rgb(170, 180, 198);
}
#add-button{
    background-color: white;
    border: 3px solid #8155BA;
    color: #8155BA;
}
#add-button:hover{
    background-color: #8155BA;
    color: white;
    transition: 0.15s linear;
}

#button-container{
    border-bottom: 2px solid #420264;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ----------------------------------Task Display Container----------------------------------- */

.task-display{

    max-height: 250px;
    overflow-y: scroll;
    scroll-behavior: smooth;    
}
.task-display::-webkit-scrollbar{
    display: none;
}

#task-details{
    list-style: none;
   
}

/*--------------------------- Task details in the form of list items -------------------  */

#no-task-left{
    font-size: 2.5rem;
    color: rgb(169, 168, 168);
    font-weight: 600;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    text-align: center;
    height: 20%;
    margin: auto;
}
#task-details li{
    width:95%;
    margin-left:-8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 3px 4px grey;
    border-radius: 8px;
}
#task-details li .name{
    color:#36243e ;
}


#task-details li:hover{
    background-color: rgb(236, 238, 241);
    transform: scale(1.04);
    transition: 0.2s ease-in;
}
#marked{
    margin: 5px;
}

.task-buttons{
    height: 30px;
    width: 30px;
}
.name-date{
    
    width: 80%;
    padding-left: 5px;
}


.date{
    color: #5E376D ;
    font-size: smaller;
    
}

.current-Task-Category{
    display: flex;
    padding: 5px;
    width: 15%;
    margin: 5px;
    margin-right: 12px;
    height: 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background-color:#1B1734;
    color: white;
}
.fa-solid{
    
    padding-right: 15px;
    padding-left: 10px;
   
}
.fa-trash-can{
    color:rgb(236, 100, 100);
    
}
.fa-trash-can:hover{
    color: rgb(245, 16, 54);
    transition: 0.2s ease-in;
}
.fa-circle-check{
    color:#07575b;
}
#del-all-btn{
    margin-left: 8px;
    width: 23%;
}
#del-all-btn:hover{
    box-shadow: none;
    color: white;
    background-color: rgb(230, 27, 27);
    transition: 0.15s linear;
    .white{
        color: rgb(236, 235, 235);
    }
}
